body{
font-size: 17px;
font-family: Arial;
}

#noidung .TableData{
    border:1px solid black;
}
table, th, td{
    border:0px solid black;
    text-align: center;
}
table{
    border-collapse:collapse;
    width: -webkit-fill-available;
}
p{
    margin: auto;
}

 .xemlai {
    background-color: red;
    padding:  10px 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.428571;
    text-decoration: none;
    width: 80px;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    outline: 0;
    will-change: box-shadow;
    display: inline-block;
    color:white;
}
 .xemlai:hover {
    background-color: darkred;
    padding:  10px 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.428571;
    width: 80px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    outline: 0;
    will-change: box-shadow;
    display: inline-block;
    color:white;
}
.dongy {
    background-color: #26a326;
    padding:  10px 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.428571;
    text-decoration: none;
    width: 80px;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    outline: 0;
    will-change: box-shadow;
    display: inline-block;
    color:white;
}
 .dongy:hover {
    background-color: green;
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.428571;
    text-decoration: none;
    width: 80px;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    outline: 0;
    will-change: box-shadow;
    display: inline-block;
    color:white;
}
input{
    margin: 0px 5px;
}