body {
    font-family: Arial;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

#banner {
    width: 100%;
    height: 100%;
}

#nav {
    margin: auto;
}

.clearfix:after {
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #6b6465;
}


/*----- Phần menu -----*/

.menu {
    width: 100%;
    margin: 0px auto;
    background: transparent;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: Arial;
}

.menu a {
    transition: all linear 0.15s;
    color: #919191;
    text-decoration: none;
}

.menu li:hover>a,
.menu .current-item>a {
    text-decoration: none;
    color: white;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}


/*----- css cho phần menu cha -----*/

.menu>ul>li {
    display: inline-block;
    position: relative;
    font-size: 21px;
}

.menu>ul>li>a {
    padding: 10px 40px;
    display: inline-block;
    color: black;
}

.menu>ul>li:hover>a,
.menu>ul>.current-item>a {
    background: #2e2728;
}


/*----css cho menu con----*/

.menu li:hover .sub-menu {
    display: block;
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 130%;
    padding: 5px 0px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #2e2728;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

.sub-menu li a:hover,
.sub-menu a {
    background: #3e3436;
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

#left {
    background-color: lightgray;
    width: 30%;
    float: left;
    margin-left: 1%;
}

#left .btnDaDuyet {
    background-color: lightgray;
    color: black;
    border: 1px solid gray;
    padding: 10px 14px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 234px;
    height: 15px;
    border-bottom: none;
}

#left .btnDaDuyet:hover {
    background-color: #73AD21;
    color: white;
}

#left .btnDaDuyet:active {
    background-color: green;
    border-color: green;
}

#right {
    /* border: solid 1px lightgray; */
    height: auto;
    float: center;
    margin-bottom: 5%;
    border-right: none;
    border-bottom: none;
    border-radius: 20px 0px;
    padding-right: 3%;
    padding-left: 2%;
}

#right .search {
    text-align: center;
    padding-bottom: 24px;
    margin-top: -10px;
}

#right .search #datetime {
    border-radius: 3px;
    font-family: Arial;
}

#right .search #btnTimkiem {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: #26a326;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    display: inline-block;
    margin-left: 3%;
}

#right .search #btnTimkiem:hover {
    background-color: green;
    color: white;
}

div #nz-div {
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}

#nz-div h3.tde {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.title-comm {
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
}

h3.title-comm:before {
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 0;
    border-top: 2px solid #d0d2d3;
    z-index: 1;
}

.title-comm .title-holder {
    min-width: 350px;
    height: 45px;
    background-color: #56bbe7;
    height: auto;
    line-height: 45px;
    padding: 0px 20px;
    z-index: 2;
    text-align: center;
    display: inline-block;
    min-width: 280px;
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

input[type=text],
select {
    width: 200px;
    padding: 5px 20px;
    margin: 8px 0;
    margin-left: 3%;
    display: inline-block;
    border: 2px solid #7e7979;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    border-radius: .40rem;
    font-size: 17px;
    margin-left: 20px;
}


/* label */

.bmd-form-group:not(.has-success):not(.has-dangerr) [class^="bmd-label"].bmd-label-floating,
.bmd-form-group:not(.has-success):not(.has-dangerr) [class*=" bmd-label"].bmd-label-floating {
    color: #AAAAAA;
}

.bmd-form-group [class^="bmd-label"].bmd-label-floating,
.bmd-form-group [class*=" bmd-label"].bmd-label-floating {
    will-change: left, top, contents;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 10px;
}

.bmd-form-group .bmd-label-floating,
.bmd-form-group .bmd-label-placeholder {
    top: 0.6125rem;
}

.bmd-form-group [class^="bmd-label"],
.bmd-form-group [class*=" bmd-label"] {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
}

.bmd-form-group .checkbox label,
.bmd-form-group .radio label,
.bmd-form-group label {
    font-size: 0.875rem;
}

div .hopthu1 {
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
    width: auto;
    height: auto;
    border-radius: 5px;
    max-width: 100%;
}

#danhmuchoso {
    background-color: #00529C;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
}

#phanquyen {
    height: 500px;
}

div .col-md-12 {
    /*position: relative;*/
    width: 2000px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div .card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    /* color: #333333; */
    background: lightgray;
    width: 100%;
    /*position: relative;
  display: flex;*/
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    font-size: 15px;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-radius: 3px;
    margin-top: -30px;
    padding: 10px;
}

.card .card-header-primary .card-icon,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
}

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
    background-color: #00529C;
}

.card [class*="card-header-"] {
    /* margin: 0px 15px 0; */
    padding: 0;
    /*position: relative;*/
}

.card [class*="card-header-"],
.card[class*="bg-"] {
    color: rgb(250, 246, 246);
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
}

.card .card-body {
    padding: 1px;
    /*position: relative;*/
}

.table-responsive {
    /*display: block;*/
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1px;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}

.text-primary {
    color: #231f20 !important;
}

.table thead tr th {
    font-size: 12px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    /*padding: 12px 30px;*/
    /* height: 50px; */
    vertical-align: middle;
    border-color: #ddd;
    text-align: center;
}

.table>tbody>tr>th1 {
    background-color: aquamarine;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 13px;
    font-weight: bold;
}

.table thead th {
    font-size: 12px;
    font-weight: 500;
    border-top-width: 0;
    border-bottom-width: 1px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

tbody {
    /*display: table-row-group;*/
    vertical-align: middle;
    border-color: inherit;
}

table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

.card .table tr:first-child td {
    border-top: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-dangerr {
    color: #fff;
    background-color: #090cf0;
    border-color: #090cf0;
    box-shadow: 0 2px 2px 0 rgb(244 67 54 / 14%), 0 3px 1px -2px rgb(244 67 54 / 20%), 0 1px 5px 0 rgb(244 67 54 / 12%);
}

.btn {
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0.2rem;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

.btn.btn-primaryy {
    color: black;
    background-color: #26a326;
    box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);
    font-weight: bold;
}

.btn.btn-primaryy:hover {
    color: white;
    background-color: green;
    box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);
    font-weight: bold;
}

.btn.btn-tuchoi {
    color: #fff;
    background-color: #f30c0c;
    border-color: #0f0e0f;
    box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);
}


/* phân loại hồ sơ */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mb-3 {
    width: 50px;
}

.gg-clipboard {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    background: rgb(238, 16, 16);
    border-radius: 2px
}

.gg-clipboard::after,
.gg-clipboard::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 2px;
    width: 10px;
    left: 2px
}

.gg-clipboard::before {
    border: 2px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: -2px;
    height: 6px
}

.gg-clipboard::after {
    height: 2px;
    background: currentColor;
    box-shadow: 0 -4px 0 0;
    bottom: 2px
}

#content #yeucauvattu #input #duoi .btn {
    padding: 20px 30px;
    font-size: 17px;
    font-weight: 700;
    line-height: 0.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: #26a326;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    display: inline-block;
}

@media screen and (max-width: 992px) {
    body {
        background-image: none;
    }
    #content {
        font-size: 9px;
        width: 100%;
        height: 100%;
        padding-top: 100px;
    }
    div .col-md-12 {
        width: 860px;
        font-size: 9px;
    }
    div .card {
        font-size: 9px;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 12px;
    }
    input[type=text],
    select {
        width: 200px;
        padding: 5px 20px;
        margin: 8px 0;
        margin-left: 3%;
        display: inline-block;
        border: 2px solid #7e7979;
        margin-right: 20px;
        margin-top: 20px;
        color: black;
        border-radius: .40rem;
        font-size: 12px;
        margin-left: 20px;
    }
    .btn-primary {
        font-size: 12px;
        width: 120px;
    }
    .table>thead>tr>th {
        font-size: 9px;
    }
    .card-title {
        font-size: 13px;
    }
}